* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: arial;
}

body {
    height: 100vh;
    width: 100%;
    color: #22254B;
}

header {
    height: 7vw;
    width: 100%;
    font-size: 1.25vw;
}

.header-box {
    padding: 4rem;
    height: 7vw;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: #fff;
    z-index: 99;
    box-shadow: 1px 5px 5px #00000014;
}

.logo-image {
    width: 12vw;
}

.header-list {
    height: 10vh;
    width: 30vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

.sty-button {
    height: 3vw;
    width: 12vw;
    background-color: #FFCE06;
    border: transparent;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.15vw;
    font-weight: bolder;
}

.pt-circle {
    height: 1vw;
    width: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px black solid;
    border-radius: 60%;
    font-size: 0.5vw;
    cursor: pointer;
}

main {
    height: 230vw;
    width: 100%
}

.main-conteiner {
    width: 100%;
    display: flex;
}

.main-box {
    padding: 6vw;
    height: 48vw;
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.main-title {
    font-size: 4vw;
}

.main-paragraph {
    width: 30vw;
    font-size: 1.25vw;
}

.main-image {
    width: 45vw;
    position: relative;
    top: 5vw;
    right: 10vw;
}

.main-scnbox {
    display: flex;
}

.main-cookies {
    padding: 1rem;
    height: 3vw;
    width: 17vw;
    display: flex;
    align-items: center;
    font-size: 0.5vw;
    border: 2px solid  #22254B;
}

.cookies-btn {
    height: 3vw;
    width: 6vw;
    color: #fff;
    background-color: #22254B;
    border: transparent;
    font-weight: lighter;
    font-size: 1vw;
    cursor: pointer;
}

.main-thrbox {
    padding: 1rem;
    height: 18vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background:linear-gradient(to bottom, #FFFFFF, #FFFAE4)
}

.main-scntitle {
    font-size: 3.5vw;
}

.main-scnparagraph {
    width: 60vw;
    margin: auto;
    text-align: center;
    font-size: 1.5vw;
}

.main-fourthbox {
    height: 8vw;
    width: 80vw;
    margin: auto;
    border: black solid 1px;
    border-radius: 10px;
}

.main-scnconteiner {
    height: 35vw;
    color: #fff;
    background-color:#22254B;
}

.main-list {
    height: 7vw;
    width: 80vw;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    border-radius: 20px;
    color: #22254B;
    background-color: #fff;
    position: relative;
    bottom: 3vw;
}

.list-paragraph {
    height: 5vw;
    display: flex;
    align-items: center;
}
.list-paragraph:hover {
    background-color:#FFCE06;
    border-radius: 10px;
    font-weight: bolder;
    cursor: pointer;
}

.main-list p {
    width: 12vw;
    text-align: center;
    border-radius: 5px
}


.box-prime {
    height: 25vw;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.gif-animation {
    width: 30vw;
}

.main-sixthbox {
    height: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.main-sixthbox h2 {
    width: 20vw;
    font-size: 3vw;
}

.main-sixthbox p {
    width: 18vw;
    font-size: 1.25vw;
    font-weight: lighter;
}

.main-thirdconteiner {
    padding: 8vw;
    height: 55vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main-thirdconteiner img {
    width: 35vw;
}

.main-seventhbox {
    height: 25vw;
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.main-seventhbox h2 {
    font-size: 3vw
}

.main-seventhparag {
    font-size: 1.75vw
}

.main-eightparag {
    width: 29vw;
    font-size: 1.25vw;
    font-weight: bolder;
}

.main-fourthconteiner {
    height: 30vw;
    width: 100%;
    color: #fff;
    background-color: #22254B;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

.main-fourthconteiner h2 {
    padding: 3vw;
    font-size: 3vw;
}

.main-fourthconteiner p {
    width: 50vw;
    font-size: 1.75vw;
    font-weight: lighter;
}

.box-boxes {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 3vw;
}

.box-one {
    height: 12vw;
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: grey 2px solid;
    border-radius: 10px;
    font-size: 1vw;
    background-color: #fff;
    position: relative;
    right: 2vw;
    border: #22254B 2px solid;
}

.box-two {
    height: 20vw;
    width: 20vw;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.05vw;
    border-radius: 10px;
    background-color: #fff;
    position: relative;
    top: 0.05vw;
    border: #22254B 2px solid;
}
.box-two img, .box-four img, .box-six img {
    width: 15vw;
    margin-bottom: 1.5vw;
}

.box-three {
    height: 12vw;
    width: 20vw;
    border: 2px solid grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;  
    position: relative;
    left: 2vw;
    background-color: #fff;
    border-radius: 10px;
    border: #22254B 2px solid;
}

.box-four {
    height: 20vw;
    width: 20vw;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.05vw;
    border-radius: 10px;
    background-color: #fff;
    position: relative;
    bottom: 6vw;
    right: 2vw;
    border: #22254B 2px solid;
}

.box-five {
    height: 12vw;
    width: 20vw;
    border: 2px solid grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;  
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    top: 2vw;
    border: #22254B 2px solid;
}

.box-six {
    height: 20vw;
    width: 20vw;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.05vw;
    border-radius: 10px;
    background-color: #fff;
    position: relative;
    bottom: 6vw;
    left: 2vw;
    border: #22254B 2px solid;
}

footer {
    height: 50vw;
    width: 100%;
    background-color: hsla(236, 38%, 21%, 0.19);
    box-shadow: 1px 5px 5px #00000014;
}

.footer-box {
    padding: 5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 2vw;
}

.footer-box p {
    position: relative;
    top: 0.25vw;
    font-size: 2.75vw;
}


.footer-scnbox {
    height: 15vw;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center
}

.footer-scnbox p {
    width: 60vw;
    text-align: center;
    font-size: 1.5vw;
}

.footer-conteiner {
    padding: 4rem;
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.footer-conteiner p {
    margin-top: 1vw;
    cursor: pointer;
}

.footer-conteiner p:hover {
    text-decoration: underline 1px black;
}

.footer-thirdbox {
    width: 35vw;
    display: flex;
    flex-direction: column;
}