@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@600&family=Bebas+Neue&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    color: #22254B;
}

header {
    height: 7vw;
    width: 100%;
    font-size: 1.25vw;
}
@media(max-width: 864px) {
    header {
        height: 10vh;
    }
}

.header-box {
    padding: 4rem;
    height: 12vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 99;
    background-color: #fff;
    box-shadow: 1px 5px 5px #00000014;
    font-weight: bold;
}
@media(max-width: 1100px) {
    .header-box {
        padding: 2rem;
        position: static;
    }
}

h1, h2, h3, h4 {
    font-family: 'Archivo', sans-serif;
}

.logo-image {
    width: 12vw;
}

.header-list {
    height: 10vh;
    width: 30vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}
@media(max-width: 1100px) {
    .header-list {
        display: none;
    }
}

.header-seta {
    display: none
}
@media(max-width: 864px){
    .header-seta {
        width: 10vw;
        display: flex
    }
}

.sty-button {
    height: 5vw;
    width: 12vw;
    background-color: #FFCE06;
    border: transparent;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.15vw;
    font-weight: bold;
}
@media(max-width: 864px) {
    .sty-button {
        height: 6vw;
        width: 14vw;
        font-size: 1.75vw
    }
}

.en-circle {
    height: 1.3vw;
    width: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.75px black solid;
    border-radius: 60%;
    font-size: 0.5vw;
    cursor: pointer;
}

.header-seta {
    display: none;
}
@media(max-width: 864px) {
    .header-seta {
        width: 10%;
        display: flex;
        cursor: pointer;
    }
    .seta-menu {
        width: 25%;
    }
}

main {
    height: 225vw;
    width: 100%
}
@media(max-width: 864px) {
    main {
        height: 255vw
    }
}

.main-conteiner {
    width: 100%;
    display: flex;
}
@media(max-width: 864px) {
    .main-conteiner {
        width: 100%;
        margin: auto;
    }
}

.main-box {
    padding: 7vw;
    height: 48vw;
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.main-title {
    font-size: 4vw;
}
@media(max-width: 864px) {
    .main-box {
        height: 50vw;
        width: 23%;
    }
}
@media(max-width: 864px) {
    .main-box button {
        height: 20vw;
        position: relative;
        left: 30vw;
    }
    .main-title {
        width: 35vw;
        font-size: 5vw;
    }
}

.main-paragraph {
    width: 30vw;
    font-size: 1.45vw;
}
@media(max-width: 864px) {
    .main-paragraph {
        width: 50vw;
        font-size: 3vw;
    }
}

.main-stars {
    display: none;
}
@media(max-width: 864px) {
    .main-stars {
        display: flex;
    }
    .small-star {
        height: 1.25vh;
        position: relative;
        bottom: 3.5vw;
        right: 3vw;
    }
    .big-star {
        height: 2vh;
        position: relative;
        right: 2vw
    }
}

.main-image {
    width: 45vw;
    position: relative;
    top: 7vw;
    right: 10vw;
}
@media(max-width: 864px) {
    .main-image {
        display: none;
    }
}

.main-images-responsive {
    display: none;
}
@media(max-width: 864px) {
    .main-images-responsive {
        height: 10vw;
        display: flex;
        flex-direction: column;
    }
    .circles-responsive {
        width: 30vw;
        position: relative;
        bottom: 2vw;
        left: 50vw;
    }
    .block-responsive {
        height: 10vw;
        width: 6vw;
        position: relative;
        left: 65vw;
    }
    .hand-responsive {
        width: 8vw;
        position: relative;
        bottom: 25vw;
        left: 60vw;
    }
    .stars-responsive {
        width: 7vw;
        position: relative;
        top: 5vw;
        left: 52vw;
        z-index: 99;
    }
    .group-responsive {
        width: 13vw;
        position: relative;
        bottom: 18vw;
        left: 58vw;
    }
}

.main-scnbox {
    display: flex;
}
@media(max-width: 864px) {
    .main-scnbox {
        display: none;
    }
}

.main-cookies {
    padding: 1rem;
    height: 7vh;
    width: 17vw;
    display: flex;
    align-items: center;
    font-size: 0.5vw;
    border: 2px solid  #22254B;
}

.cookies-btn {
    height: 100%;
    width: 6vw;
    color: #fff;
    background-color: #22254B;
    border: transparent;
    font-weight: lighter;
    font-size: 1vw;
    cursor: pointer;
}

.main-thrbox {
    padding: 1rem;
    height: 18vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background:linear-gradient(to bottom, #FFFFFF, #FFFAE4)
}
@media(max-width: 864px) {
    .main-thrbox {
        padding: 0;
        height: 25vw;
        width: 60%;
        margin: auto;
    }
}

.main-scntitle {
    font-size: 3.5vw;
}
@media(max-width: 864px) {
    .main-scntitle {
        width: 80%;
        position: relative;
        bottom: 2vw;
    }
}

.main-scnparagraph {
    width: 60vw;
    margin: auto;
    text-align: center;
    font-size: 1.5vw;
}
@media(max-width: 864px) {
    .main-scnparagraph {
        width: 47vw;
        text-align: start;
        position: relative;
        bottom: 3vw;
        font-size: 2.35vw;
    }
}

.main-fourthbox {
    height: 8vw;
    width: 80vw;
    margin: auto;
    border: black solid 1px;
    border-radius: 10px;
}

.main-scnconteiner {
    height: 35vw;
    color: #fff;
    background-color:#22254B;
}
@media(max-width: 864px) {
    .main-scnconteiner {
        height: 40vw;
    }
}

.main-list {
    height: 13vh;
    width: 80vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    list-style: none;
    border-radius: 20px;
    color: #22254B;
    background-color: #fff;
    position: relative;
    bottom: 3vw;
}
@media(max-width: 864px) {
    .main-list  {
        height: 7vw;
    }  
}

.list-paragraph {
    height: 5vw;
    display: flex;
    align-items: center;
}
.list-paragraph p {
    font-size: 1.5vw;
}
.list-paragraph:hover {
    background-color:#FFCE06;
    border-radius: 10px;
    font-weight: bolder;
    cursor: pointer;
}
.main-list p {
    width: 12vw;
    text-align: center;
    border-radius: 5px;
}
@media(max-width: 864px) {
    .main-list p {
        font-size: 1.8vw
    }
}

/* .list-paragraph p::after {
    content: "";
    position: relative;
    top: 0;
    left: 2rem;
    height: 4vh;
    width: 100%;
    background-color: black;
} */

.box-prime {
    height: 25vw;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
@media(max-width: 864px) {
    .box-prime {
        flex-direction: column
    }
}

.gif-animation {
    width: 30vw;
}

.main-sixthbox {
    height: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.main-sixthbox h2 {
    width: 20vw;
    font-size: 3vw;
}

.main-sixthbox p {
    width: 18vw;
    font-size: 1.25vw;
    font-weight: lighter;
}
@media(max-width: 864px) {
    .main-sixthbox p {
        width: 30vw;
        font-size: 1.8vw
    }
}

.main-thirdconteiner {
    padding: 8vw;
    height: 55vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
@media(max-width: 864px) {
    .main-thirdconteiner {
        height: 75vw;
        width: 100%;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .main-thirdconteiner button {
        display: none;
    }
}

.main-thirdconteiner img {
    width: 35vw;
}

.main-seventhbox {
    height: 25vw;
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.main-seventhbox h2 {
    font-size: 3vw
}

.main-seventhparag {
    font-size: 1.75vw
}

.main-eightparag {
    width: 29vw;
    font-size: 1.25vw;
    font-weight: bolder;
}
@media(max-width: 864px) {
    .main-seventhparag {
        font-size: 2vw;
    }
    .main-eightparag {
        width: 40vw;
        font-size: 2vw
    }
}

.main-fourthconteiner {
    height: 30vw;
    width: 100%;
    color: #fff;
    background-color: #22254B;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

.main-fourthconteiner h2 {
    padding: 3vw;
    font-size: 3vw;
}

.main-fourthconteiner p {
    width: 50vw;
    font-size: 1.75vw;
    font-weight: lighter;
}

.cubes-conteiner {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 3vw;
}

.cube-one, .cube-three, .cube-five {
    height: 12vw;
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    border: #22254B 2px solid;
    font-size: 1.05vw;
    background-color: #fff;
}

.cube-two, .cube-four, .cube-six {
    height: 20vw;
    width: 20vw;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.05vw;
    border-radius: 10px;
    background-color: #fff;
    border: #22254B 2px solid;
}

.cube-one {
    position: relative;
    right: 2vw;
}

.cube-two {
    position: relative;
    top: 0.05vw;
}
.cube-two img, .cube-four img, .cube-six img {
    width: 15vw;
    margin-bottom: 1.5vw;
}

.cube-three {
    position: relative;
    left: 2vw;
}

.cube-four {
    position: relative;
    bottom: 6vw;
    right: 2vw;
}

.cube-five {
    position: relative;
    top: 2vw;
}

.cube-six {
    position: relative;
    bottom: 6vw;
    left: 2vw;
}

@media(max-width: 864px) {
    .cube-one, .cube-two, .cube-three, .cube-four, .cube-five, .cube-six {
        font-size: 1.35vw
    }
}

footer {
    height: 69vw;
    width: 100%;
    background-color: hsla(236, 38%, 21%, 0.19);
    box-shadow: 1px 5px 5px #00000014;
}
@media(max-width: 995px) {
    footer {
        height: 100vw;
    }
}

@media(max-width: 864px) {
    .footer-background {
        display: flex;
        flex-direction: column;
    }
}

.waves-footer {
    height: 5vw;
}

.footer-box {
    padding: 5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 2vw;
}

.footer-box p {
    position: relative;
    top: 0.25vw;
    font-size: 2.75vw;
}


.footer-scnbox {
    height: 15vw;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center
}
@media(max-width: 864px) {
    .footer-scnbox {
        height: 30vw;
    }
}

.footer-scnbox p {
    width: 60vw;
    text-align: center;
    font-size: 1.5vw;
}

.footer-conteiner {
    padding: 4rem;
    height: 25vw;
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer-conteiner p {
    font-size: 1.25vw
}
@media(max-width: 864px) {
    .footer-conteiner {
        height: 30vw;
        flex-direction: column;
        align-items: center
    }
    .footer-conteiner p {
        width: 100%;
        font-size: 2vw;
    }
}

.footer-conteiner p {
    margin-top: 1vw;
    cursor: pointer;
}

.footer-conteiner p:hover {
    text-decoration: underline 1px black;
}

.footer-thirdbox {
    height: 10vw;
    width: 35vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.footer-thirdbox h4:hover {
    text-decoration: none;
}

.footer-img {
    display: flex;
    margin-top: 2vw;
}

.s-image {
    width: 10%;
}

.footer-c {
    height: 1vw;
    width: 1vw;
    display: flex;
    justify-content: center;
    margin-top: 1.25vw;
    border: black solid 1px;
    border-radius: 50%;
    font-size: 0.9vw;
}

.footer-contacts {
    height: 18vw;
    width: 35vw;
    display: flex;
    justify-content: space-evenly;
    margin-top: 5vw;
}

@media(max-width: 864px) {
    .footer-stories {
        display: none;
    }
    .footer-contacts {
        display: flex;
    }
}